body {

    font-family: Arial, sans-serif;

    background: #f1f3f4;

    margin: 0;

    padding: 0;

}


.box {

    background: white;

    width: 90%;

    max-width: 600px;

    margin: 30px auto;

    padding: 25px;

    border-radius: 12px;

    box-shadow: 0 2px 8px rgba(0,0,0,0.15);

}


h2 {

    text-align: center;

    color: #333;

}



input,
textarea {

    width: 100%;

    box-sizing: border-box;

    padding: 12px;

    margin-top: 10px;

    margin-bottom: 15px;

    border: 1px solid #ccc;

    border-radius: 8px;

    font-size: 16px;

}



textarea {

    height: 100px;

    resize: vertical;

}



button {

    width: 100%;

    padding: 14px;

    background: #673ab7;

    color: white;

    border: none;

    border-radius: 8px;

    font-size: 16px;

}


button:hover {

    background: #512da8;

}