body{

font-family:
Arial, sans-serif;

background:#f1f3f4;

margin:0;

}



.container{

background:white;

max-width:650px;

margin:30px auto;

padding:25px;

border-radius:12px;

}



h2{

text-align:center;

color:#673ab7;

}



label{

font-weight:bold;

display:block;

margin-top:15px;

}



input,
textarea{

width:100%;

box-sizing:border-box;

padding:12px;

margin-top:8px;

border:

1px solid #ccc;

border-radius:8px;

font-size:16px;

}



textarea{

height:100px;

}



button{


margin-top:20px;

width:100%;

padding:15px;

background:#673ab7;

color:white;

border:none;

border-radius:8px;

font-size:17px;


}